<% meta title: t('menu.club') %>

<div class="clubOuterWrapper">
    <div id="/scrollObject" class="clubInnerWrapper">
        <a href="#" class="toUppaClub"><%= t('menu.club') %></a>

        <h2 class="headerCommon"><%= t('static.club.enter') %></h2>

        <p class="descriptionCommon"><%= t('static.club.descriptionCommon_1') %></p>

        <div class="grapeBerriesPicture"></div>

        <div class="titleCommon possibilities"><%= t('static.club.what_to_know') %></div>



  

<!--         <a href="anketa.pdf", download="anketa"><div class="downloadForm"> <%= t('static.club.download') %><div class="arrowSmallRight"></div></div></a> -->

        <div class='contact_form' id='form'>
            <%= form_with(model: @request) do |f| %>
                <div class='name'>
                  <%= f.text_field :name, placeholder: 'Имя' %>
                </div>
                <div class='email'>
                  <%= f.text_field :email, placeholder: 'Электронная почта' %>
                </div>
                <div class='phone'>
                  <%= f.text_field :phone, placeholder: 'Телефон' %>
                </div>
                <div class='city'>
                  <%= f.text_field :city, placeholder: 'Ваш город' %>
                </div>
                <div class='message'>
                  <%= f.text_area :body, placeholder: 'Ваше сообщение' %>
                </div>
                <div class='submit'>
                  <%=f.submit 'Отправить' %>
                </div>
            <% end %>
        </div>
        <div class="footerClub">
            <p class="UPPA">© UPPA by Pavel Shvets</p>
            <a href="http://redobureau.com" class="ourName"><%=t('menu.made_by_redo')%></a>
        </div>

    </div>

    <div id="/fakeScrollArea" class="grapeBerriesBig"></div>
</div>
