%h3 Заявка с сайта UPPA WINE

%h4 Данные формы:
%p="Имя: #{@request.name}"
%p="Почта: #{@request.email}"
%p="Телефон: #{@request.phone}"
%p="Город: #{@request.city}"
%p="Текст сообщения: #{@request.body}"