<%= render "menu" %>

<div class="bottlesWrapper">

    <div class="bottle upperBlock">
        <%= render "nav" %>

        <%= image_tag 'bottles/first.png', class: "bottleImage" %>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>

    <div class="bottle firstBottle">
        <%= image_tag 'bottles/first.png', class: "bottleImage" %>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>

    <div class="bottle secondBottle">
        <%= image_tag 'bottles/second.png', class: "bottleImage" %>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>

    <div class="bottle thirdBottle">
        <%= image_tag 'bottles/third.png', class: "bottleImage" %>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>

    <div class="bottle fourthBottle">
        <%= image_tag 'bottles/fourth.png', class: "bottleImage" %>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>

    <div class="bottle fifthBottle">
        <%= image_tag 'bottles/fifth.png', class: "bottleImage" %>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>

    <div class="bottle sixthBottle">
        <%= image_tag 'bottles/sixth.png', class: "bottleImage" %>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>

</div>
